:root {
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-family-title: "Asap", sans-serif;
    --title-lg: 800 56px/120% var(--font-family-title);
    --title-md: 800 24px/120% var(--font-family-title);
    --title-sm: 800 16px/120% var(--font-family-title);

    --font-family-sub: "Inconsolata", monospace;
    --subtitle: 400 20px/120% var(--font-family-sub);

    --font-family: "Maven Pro", sans-serif;
    --text-md: 400 16px/140% var(--font-family);
    --text-sm: 400 14px/140% var(--font-family);

   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; */
}